<!DOCTYPE html>

        <html>
        <body>

        	 <form method="get" action="678">

                                                    <td><input name="productName" type="text"></td>
                                                    <td><input type="submit" value="submit"></td>

                                                    
                    </form>



        </body>


        </html>