                                <!DOCTYPE html>

                                </html>

                                <head>
                                    <title>Add Product</title>

                                    <script type="text/javascript" src="/../js/all.js"></script>
                                </head>

                                <body>
             <header id="header"><!--header-->
                                            <div class="header_top"><!--header_top-->
                                              <div class="container">

                                                  <div class="col-sm-6">
                                                    <div class="social-icons pull-right">
                                                      
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div><!--/header_top-->

                                            <div class="header-middle"><!--header-middle-->
                                              <div class="container">
                                                <div class="row">
                                                  <div class="col-sm-4">
                                                    <div class="logo pull-left">
                                                      <a href="#"><img src="/images/logo.png" alt="" /></a>
                                                    </div>
                                                    <div class="btn-group pull-right">
                                                      <div class="btn-group">

                                                      </div>
                                                      
                                                      <div class="btn-group">
                                                        
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="col-sm-8">
                                                    <div class="shop-menu pull-right">
                                                      <ul class="nav navbar-nav">
                                                        <li><a href="#"><i class="fa fa-user"></i>Welcome : <%=sess.firstname%>&nbsp;<%=sess.lastname%></a></li>
                                                        <li><a href="/home"><i class="fa fa-star"></i> Home</a></li>
                                                        <li><a href="/products"><i class="fa fa-crosshairs"></i> Products</a></li>
                                                        <li><a href="/orders"><i class="fa fa-shopping-cart"></i> Orders</a></li>



                                                        <li><a href="/logout"><i class="fa fa-lock"></i> Logout</a></li>
                                                      </ul>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div><!--/header-middle-->


                                                
                                                </div>
                                              </div>
                                            </div><!--/header-bottom-->
                                            </header>
                                                 <% if(message){%>
                                            
                                        <td><b><p align = "center"><font color = "red" size ="4"><%=message%></font><p></b></td>
                                        
                                        <% }else{
                                        %>
                                             <td><b><p align = "center"><font color = "red" size ="4"></font><p></b></td>
                                        
                                        <% }
                                        %>
                                                <form method="post" action="/products">

                                                    <table cellpadding="1" align="center">
                                                        <tr>
                                                            <td class="label">Product name</td>
                                                            <td>:
                                                                <input type="text" name="productName" required placeholder=" Product name...">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="label">Product Quantity</td>
                                                            <td>:
                                                                <input type="number" name="productQuantity" required placeholder="Enter Quantity" min = "1"></textarea>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="label">Product Price</td>
                                                            <td>:
                                                                <input type="number" name="productPrice" required placeholder="Enter Price" min="1"></textarea>
                                                            </td>
                                                        </tr>
                                                         <tr>
                                               
                                              <!--   <td>:
                                                    <input type="file" name="fileUpload" maxlength="20">
                                                </td> -->
                                            </tr>
                                                        <tr>
                                                            <td class="label"></td>
                                                            <td>
                                                                <input type="submit" button class="btn btn-success" name="submit" value="Save">
                                                            </td>
                                                            <td>
                                                                <a href="/products" button class="btn btn-danger">cancel</a>
                                                            </td>
                                                        </tr>
                                                    </table>


                                                </form>

                                            </div>
                                        </div>
                                    </div>


                                </body>

                                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css">
                                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap-theme.min.css">
                                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
                                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>

                                </html>