<!DOCTYPE html>

</html>

<head>
    <title>User Home</title>
    <link href="/../style.css" rel="stylesheet">
    <script type="text/javascript" src="/../js/all.js"></script>
</head>

<body>



    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar">
            <div class="container">
                <span class="login"><h4>Welcome: </h4><strong><h1><%=sess.firstname%>&nbsp;<%=sess.lastname%></h1><strong></span>

            </div>
        </div>
    </div>
    <div id="wrapper">
        <div class="page-header">
            <h2 align="center">User Home Page</h2></div>
        <div class="page-container">
            <div class="page-data">
                <div class="data-btn">

                </div>

                <ul>
                    <li>
                        <a href="/logout" role="button" class=""> Logout</a>
                    </li>
                </ul>
                <div class="data-table">


                    <table border="1" cellpadding="7" cellspacing="7">
                        <table align="center">
                            <tr>
                                <td>

                                    <a button class="btn btn-warning" href="/user/products">View Products</a>
                                    <br>
                                    <hr>
                                </td>
                                <!-- <a href = "manage_user.html">manage user</a><br><hr>-->
                                <td> <a button class="btn btn-warning" href="/user/view/orders">View Orders</a>
                                    <hr>
                                </td>



                            </tr>
                        </table>
                </div>
            </div>
        </div>
    </div>
</body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>

</html>