                                        <!DOCTYPE html>

                                        </html>
                                        <style>
                                            body {
                                                margin: 0;
                                                background-image: url(/header-bg.jpg);
                                                background-size: 1440px 900px;
                                                background-repeat: no-repeat;
                                                display: compact;
                                                font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
                                            }
                                        </style>

                                        <head>
                                            <title> Admin Home</title>
                                            <link href="/../style.css" rel="stylesheet">
                                            <script type="text/javascript" src="/../js/all.js"></script>
                                        </head>
                                        <style type="text/css">
                                        </style>

                                        <body>





                                            <nav class="navbar navbar-inverse navbar-fixed-top">
                                                <div class="container-fluid">
                                                    <div class="page-header">
                                                        <a class="navbar-brand" href="#"><h1 align="center"> <font color="white">Ecommerce Website</font></h1></a>
                                                    </div>
                                                    <div>
                                                        <ul class="nav navbar-nav">
                                                            <li class="active"><a href="">Home</a></li>
                                                            <div class="navbar navbar-inverse navbar-fixed-top">
                                                                <div class="navbar">
                                                                    <div class="container">
                                                                        <span class="login"><font color= "white"><h4>Welcome: </h4><strong><h1><%=sess.firstname%>&nbsp;<%=sess.lastname%></font></h1><strong></span>

                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </ul>
                                                        <ul class="nav navbar-nav navbar-right">
                                                            <li><a button class="btn-btn-primary" href="/logout"><span class="glyphicon glyphicon-user"></span> <font color="white">Logout</font></a></li>



                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="data-table">


                                                    <table border="1" cellpadding="7" cellspacing="7">
                                                        <table align="center">
                                                            <tr>
                                                                <td>

                                                                    <a button class="btn btn-primary" href="/products">Manage Products</a>
                                                                    <br>
                                                                    <hr>
                                                                </td>
                                                                <td> <a button class="btn btn-primary" href="/orders">Manage Orders</a>
                                                                    <hr>
                                                                </td>



                                                            </tr>
                                                        </table>
                                                </div>
                                            </nav>



                                        </body>
                                        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css">
                                        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap-theme.min.css">
                                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
                                        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>

                                        </html>