<!--  <!DOCTYPE html>

</html>

<head>
    <title>User Home</title>
    <link href="/../style.css" rel="stylesheet">
    <script type="text/javascript" src="/../js/all.js"></script>
</head>
  <style>
                                            body {
                                                margin: 0;
                                                background-image: url(/header-bg.jpg);
                                                background-size: 1440px 900px;
                                                background-repeat: no-repeat;
                                                display: compact;
                                                font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
                                            }
                                        </style>
<body>



    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar">
            <div class="container">
                <span class="login"><font color="white"><h4>Welcome: </h4><strong><h2><%=sess.firstname%>&nbsp;<%=sess.lastname%></h2></font><strong></span>

            </div>
        </div>
    </div>
    <div id="wrapper">
        <div class="page-header">
            <h2 align="center"><font color="white">User Home Page</font></h2></div>
        <div class="page-container">
            <div class="page-data">
                <div class="data-btn">

                </div>

                <div class="data-table">


                    <table border="1" cellpadding="7" cellspacing="7">
                        <table align="center">
                            <tr>
                                <td>

                                    <a button class="btn btn-warning" href="/user/products">View Products</a>
                                    <br>
                                    <hr>
                                </td>
                                <td> <a button class="btn btn-warning" href="/user/view/orders">View Orders</a>
                                    <hr>
                                </td>
                                <p>
                                <td> <a button class="btn btn-danger" href="/logout">Logout</a>
                                    <hr>
                                </td>
                                </p>

                            </tr>
                        </table>
                </div>
            </div>
        </div>
    </div>
</body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>

</html> -->



<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>E-commerce 2015</title>

    <!-- Bootstrap Core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/bootstrap/css/full-slider.css" rel="stylesheet">
            <link href="/bootstrap/css/responsive.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <header id="header"><!--header-->
    <div class="header_top"><!--header_top-->
      <div class="container">

          <div class="col-sm-6">
            <div class="social-icons pull-right">
              
            </div>
          </div>
        </div>
      </div>
    </div><!--/header_top-->
    
    <div class="header-middle"><!--header-middle-->
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="logo pull-left">
              <a href="#"><img src="/images/logo.png" alt="" /></a>
            </div>
            <div class="btn-group pull-right">
              <div class="btn-group">

              </div>
              
              <div class="btn-group">
                
              </div>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="shop-menu pull-right">
              <ul class="nav navbar-nav">
                <li><a href="#"><i class="fa fa-user"></i> <%=sess.firstname%>&nbsp;<%=sess.lastname%></a></li>
                <li><a href="/user/home"><i class="fa fa-star"></i> Home</a></li>
                <li><a href="/user/products"><i class="fa fa-crosshairs"></i> Products</a></li>
                <li><a href="/user/view/orders"><i class="fa fa-shopping-cart"></i> Orders</a></li>



                <li><a href="/logout"><i class="fa fa-lock"></i> Logout</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div><!--/header-middle-->
  
    
        
        </div>
      </div>
    </div><!--/header-bottom-->
  </header>

    <!-- Full Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('http://plazawatch.com/wp-content/uploads/2014/05/Ulysse-Nardin-Luxury-Watch.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Watch</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('https://9to5mac.files.wordpress.com/2014/02/iphone6-1.jpg');"></div>
                <div class="carousel-caption">
                    <h2>iPhone 6</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('http://www.ambwallpapers.com/wp-content/uploads/2015/02/macbook-air-hd-images-7.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Macbook</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>


        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; E-commerce 2015</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/bootstrap/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>







