<!DOCTYPE html>
                <html>

                <head>
<body> hello
<form action= 'form' method="post">

hey
<label>
<input type= "submit" > 
</label>
</form>

</body>	

			
                </head>
                </html>